body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
}
.menu {
    background-color: #4CAF50;
    padding: 10px;
    text-align: center;
}
#anatomia{
    background-color: white;
    padding: 8px;
    border-radius: 4px;
    color: #4CAF50;
}
.menu a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}
.menu a:hover {
    text-decoration: underline;
}

.niveles-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.nivel {
    background-color: #f0f8ff;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    padding: 15px;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    text-decoration: none; 
}

.nivel:hover {
    transform: scale(1.1);
}

.nivel h3 {
    color: #4CAF50;
    margin-bottom: 10px;
}

.nivel p {
    color: #333;
}
