.contenido-nivel {
    background-color: #f0f8ff;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pregunta-mid {
    /*background-color: black;*/
    
    display: flex;
    justify-content: space-between;
    
}
.pregunta-espacio {
    width: 45%;
}
.preguntas-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.pregunta {
    background-color: #f0f8ff;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    padding: 15px;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pregunta p {
    margin: 0 0 10px;
}

button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}



